<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    {% include _head.html %}
    <!-- Example assets -->
  </head>
  <body class="home">
    {% include _browser-upgrade.html %}
    
    {% include _navigation.html %}

    <div class="banner">
      <ul>
	<li style=
	    {% if page.image.feature %}
	    "background-image: url('images/{{ page.image.feature }}');"
	    {% else %}
	    "background-image: url('images/texture-pluton.jpg');"
	    {% endif %}
	    >
	  <div class="inner">
	    {{ content }}
	  </div>
	</li>
	{% for post in site.posts %}
	<li style=
	    {% if page.image.feature %}
	    "background-image: url('images/{{ page.image.feature }}');"
	    {% else %}
	    "background-image: url('images/texture-pluton.jpg');"
	    {% endif %}
	    >
	  <div class="inner">
	  <h2>{{ post.title }}</h2>
	  <p>
	    {{ post.content | strip_html | strip_newlines | truncate: 160 }}
	    <br /><a href="{{ site.url }}{{ post.url }}">Leer Más »</a>
	  </p>
	  </div>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div style="text-align: center">
      <div class="comunity-horizontal">
	{% if site.owner.google_plus %}<a href="http://plus.google.com/+{{ site.owner.google_plus }}" target="_blank"><i class="fa fa-google-plus-square"></i> Google+</a>{% endif %}
	{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" target="_blank"><i class="fa fa-github"></i> Github</a>{% endif %}
	{% if site.owner.googlegroup %}<a href="http://groups.google.com/forum/?hl=es#!forum/{{ site.owner.googlegroup }}" target="_blank"><i class="fa fa-envelope"></i> Google Group</a>{% endif %}
	{% if site.owner.freenode %}<a href="http://webchat.freenode.net/?channels={{ site.owner.freenode }}" target="_blank"><i class="fa fa-comments" title="irc"></i> #{{ site.owner.freenode }}</a>{% endif %}
      </div>
    </div>


    <div class="footer-wrap">
      <footer>
	{% include _footer.html %}
      </footer>
    </div><!-- /.footer-wrap -->

    {% include _scripts.html %}
    <script type="text/javascript">
	$( document ).ready(function() {
	    $('.banner').unslider({
	      fluid: true,
	      dots: true
	    });
	});
    </script>
  </body>
</html>
